.vehicule-view-container{
    width: 100%;
    border-top: 1px solid #DDD;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transition: 200ms ease-in-out;
    color: #333;
}

.vehicule-grid-container{
    min-width: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
}

.vehicule-view-container:hover{
    background-color: #F7F8FF;
}

.vehicule-image{
    width: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.vehicule-image-grid{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.vehicule-title{
    font-family: "Montserrat";
    font-size: 0.9em;
    margin: 2px;
}

.vehicule-subtitle{
    font-family: 'Montserrat';
    font-size: 0.6em;
    color: #CCC;
    margin: 2px;
}

.vehicule-divider-info{
    width: 61%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.state-item{
    width: 10%;
    background-color: red;
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    border-radius: 1000px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 13px;
    padding-left: 13px;
}

.state-item>p{
    font-size: 0.7em;
    margin: 0px;
    padding: 0px;
}

.allocated{
    background-color: red;
}

.maintained{
    background-color: #f0b209;
}

.available{
    background-color: rgb(51, 196, 51);
}



