.success-log {
    height: 40px;
    width: 40px;
    background-color: rgb(73, 238, 51);
    border-radius: 50%;
}

.error-log {
height: 40px;
width: 40px;
background-color: rgb(231, 29, 10);
border-radius: 50%;
}

.title {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}