::placeholder {
    color: #fff !important;
}

.card.login-card {
    background-color: #333 !important;
    border-radius: 30px !important;
    border: #333 !important;
    min-height: 90%;
    text-align: center;
    color: #fff;
}

.savoir-button{
    border-radius: 1000px !important;
    background-color: #333 !important;
    transition: 200ms ease-in-out;
}

.savoir-button:hover{
    background-color: #222 !important;
}

.align-self-center{
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-titlex{
    font-family: "Montserrat";
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-card h1 {
    color: #fff;
}

.login-card input {
    outline: none !important;
}

.input-group.inputs {
    background-color: #6d6d6dc4;
    border-radius: 50px;
}

.inputs .input-group-text, .inputs input {
    background-color: unset !important;
    border: unset !important;
    height: 100%;
    color: #fff !important;
    font-size: 18px !important;
}

.s-input{
    outline: none;
    border: none;
    padding-left: 10px;
}

.login {
    font-family: "Montserrat";
    border-radius: 50px !important;
    padding: 10px 30px !important;
    background-color: #F9C319 !important;
    color: #333 !important;
    font-size: 18px !important;
    border: unset !important;
    transition: 200ms ease-in-out;
}

.login:hover{
    background-color: #ebac00 !important;
}

.fixed-top {
    height: 87%;
    width: 82% !important;
    background: #F9C319;
    z-index: 0 !important;
    padding-left: 6em !important;
}

.fixed-top h1 {
    color: #fff;
    font-size: 55px;
}

.fixed-top h3 {
    color: #fff;
    font-size: 45px;
}

.fixed-top p {
    font-size: 25px;
}

.big {
    flex: 2;
    color: #fff;
}

.small {
    flex: 1;
}

.small p {
    font-size: 15px;
    color: #333;
}

.small button {
    background-color: #333;
    font-size: 20px;
    font-family: montserrat;
    padding: 10px 35px;
    border: unset;
    border-radius: 20px;
    font-weight: 600;
}