.Mappe {
    position: absolute;
    left: 300px;
    top: 50px;
    border-radius: 50px;
}

.marker {
    background-image: url('./media/marker.png');
    background-size: cover;
    width: 80px;
    height: 80px;
}