.dashboard-container{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.dashboard-view{
    width: 78%;
    padding-right: 1%;
    padding-left: 1%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
}

.view{
    border: solid 1px #DDD;
    border-radius: 15px;
    margin-top: 10px;
    width: 98%;
    height: 85vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.view::-webkit-scrollbar{
    display: none;
}