.notification-view-container{
    width: 100%;
    border-top: 1px solid #CCC;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.notification-view-container:hover{
    background-color: #F7F8FF;
}

.notification-indicator{
    height: 30px;
    width: 30px;
    margin: 20px;
    background-color: rgb(255, 106, 106);
    border-radius: 50%;
}

.notification-title{
    font-family: "Montserrat";
    font-size: 0.9em;
    margin: 2px;
    width: 50%;
}

.notification-subtitle{
    font-family: 'Montserrat';
    font-size: 0.8em;
    color: #CCC;
    margin: 2px;
    width: 30%;
}