.agent-view-container{
    width: 100%;
    border-top: 1px solid #DDD;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    transition: 200ms ease-in-out;
}

.agent-info{
    min-width: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.agent-view-container:hover{
    background-color: #F7F8FF;
}

.agent-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.agent-title{
    font-family: "Montserrat-bold";
    font-size: 1.1em;
    color: #333;
    margin: 2px;
}

.agent-subtitle{
    font-family: 'Montserrat';
    font-size: 0.95em;
    color: #CCC;
    margin: 2px;
}

.agent-divider{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}




