.sidebar-container{
    background-color: #333;
    height: 100vh;
    width: 20%;
    text-align: center;
}

.side-logo{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.sidebar-container>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar-container>ul li{
    margin-top: 20px;
    padding: 0px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: #DDD;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1em;
    height: 45px;
    width: 75%;
    border-radius: 1000px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transition: ease-in-out 300ms;
}

.link:hover{
    text-decoration: none;
    color: #DDD;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1em;
    height: 45px;
    width: 75%;
    border-radius: 1000px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #444;
}

.active-link{
    background-color: #ab8e38d8;
}

.option-icon{
    width: 25px;
    margin-right: 15px;
}
