.task-view-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ddd;
  transition: 200ms ease-in-out;
}

.task-view-container:hover {
  background-color: #f7f8ff;
}

.task-bubble {
  height: 25px;
  width: 25px;
  background-color: rgb(247, 83, 83);
  border-radius: 50%;
  margin: 20px;
}

.task-state {
  min-width: 90px;
  font-family: "Montserrat";
  font-size: 0.8em;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 1000px;
}

.ended {
  background-color: rgb(51, 196, 51);
  transition: 200ms ease-in-out;
}

.ended:hover {
  background-color: rgb(93, 231, 93);
}

.affected {
  background-color: rgb(247, 83, 83);
  transition: 200ms ease-in-out;
}

.affected:hover {
  background-color: rgb(250, 126, 126);
}

.thex-progress {
  background-color: rgb(247, 181, 83);
  transition: 200ms ease-in-out;
}

.thex-progress:hover {
  background-color: rgb(240, 164, 50);
}

.task-title {
  font-family: "Montserrat";
  font-size: 0.9em;
  margin: 2px;
  width: 40%;
}

.task-subtitle {
  font-family: "Montserrat";
  font-size: 0.6em;
  color: #ccc;
  margin: 2px;
  width: 40%;
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.task-modal{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.task-modal-title{
  font-family: "Montserrat-bold";
  color: #333;
  font-size: 1.2em;
  margin: 2px;
}

.task-modal-subtitle{
  font-family: "Montserrat";
  font-size: 1em;
  margin: 2px;
}

.task-modal-text{
  font-family: "Montserrat";
  font-size: 0.9em;
  margin: 2px;
  color: #ccc;
}
