.equipment-view-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd;
    transition: 200ms ease-in-out;
}

.equipment-view-container:hover{
    background-color: #f7f8ff;
}

.equipment-about{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
}

.equipment-title{
    font-family: "Montserrat-bold";
    font-size: 1.1em;
    margin: 0px;
    width: 40%;
}

.equipment-text{
    font-family: "Montserrat";
    font-size: 0.8em;
    margin: 0px;
    width: 40%;
}

